.large-title {
    font-size: 96px;
}

@media (max-width: 768px) {
    .large-title {
        font-size: 48px;
    }

    .text01 {
        font-size: 18px;
    }
}

.fullscreen {
    height: 100vh;
}

body {
    background-color: #222;
    color: #ffffff;
    text-align: center;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.face {
    padding: 40px;
    display:inline-block;
}