@font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/BebasNeue Light.otf") format("truetype");
}

.large-title {
    font-size: 96px;
}

@media (max-width: 768px) {
    .large-title {
        font-size: 48px;
    }

    .text01 {
        font-size: 18px;
    }
}

.fullscreen {
    min-height: 100vh;
}

body {
    /*background-color: #F5F5F5;*/
    background-color: #424242 !important;
    /*color: #ffffff;*/
    text-align: center;
}

.inverse {
    color: #F5F5F5 !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.face {
    padding: 40px;
}

.contact-thing {
    padding-top: 40px;
}

.container-fluid {
    padding-left: 0 !important;
}

.bg {
    background: url(../img/wand.png) no-repeat center fixed;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.speech {
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    text-align: left;
}

.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.logo {
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
    background-color: #24292e;
    overflow: hidden;
}

@media screen and (max-device-width: 480px) {
    h1 {
        font-size: 26px;
    }
}

.moto {
    padding: 40px;
}

.navbar-inverse {
    background-color: #24292e;
}

.navbar {
    border: 0;
}

.row2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row2 > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.whiteColor {
    color: #FEFEFE !important;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: #9E9E9E url(../img/field.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.field {
    color: #FEFEFE !important;
    background: #9E9E9E url(../img/field.jpg) no-repeat fixed bottom;
    background-size: cover;
}

.wandAndApp {
    color: #FEFEFE !important;
    background: url(../img/wand_n_app.png) no-repeat bottom fixed;
    background-size: cover;
}

.tlgBg {
    background: url(../img/bg_initial.jpg) repeat bottom fixed;
}

.face {
    max-width: 250px;
    max-height: 250px;
    background-size: cover;
}

.defPaddingTop {
    padding-top: 50px;
}

.defPaddingBottom {
    padding-bottom: 50px;
}

.bottomPadding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.mergedHead {
    text-align: center;
    color: #FFFFFF;
    margin-top: 50pt;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.belowMergedHead {
    padding-top: 90pt;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.navbar {
    margin-bottom: 0 !important;
    border: 0 !important;
}

.preorder {
    font-size: x-large !important;
}

.textParent {
    position: absolute;
    top: 120px;
    /*right: 70px;*/
    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-left: 50vh;
    margin-right: 10vh;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    overflow: hidden;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    max-width: 35%;
    margin-left: 15%;
    max-height: 70vh;
}

.image2 {
    position: absolute;
    top: 120px;
    /*right: 70px;*/
    left: 22%;
    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-left: 6vh;
    margin-right: 20vh;
}

.farrukh {
    font-family: Bebas Neue Light, monospace;
    font-size: 56px;
}

@media screen and (max-width: 480px) {
    .image1 {
        max-width: 50%;
    }

    .image2 {
        margin-top: 16vh;
        margin-bottom: 20vh;
        margin-left: 6vh;
        margin-right: 20vh;
        width: 95%;
    }

    .farrukh {
        color: transparent !important;
    }
}

@media screen and (max-width: 980px) {
    .image1 {
        max-width: 50%;
    }

    .image2 {
        left: 10%;
    }
}

@media screen and (max-width: 1024px) {
    .image1 {
        max-width: 50%;
    }

    .image2 {
        margin-top: 0;
        margin-bottom: 20vh;
        margin-left: 6vh;
        margin-right: 20vh;
        width: 70%;
    }

    .textParent {
        margin-left: 40vh;
    }

    .farrukh {
        color: transparent !important;
    }
}

@media screen and (max-width: 1160px) {
    .farrukh {
        color: transparent !important;
    }
}

.space {
    height: 4vh;
}